html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}
