.auth-form-container{
  max-width: 600px;
  margin: 0px auto;
  background: rgba(240, 237, 255, 0.80);
  .form-title{
    color: #000;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
  }
  .form-login{
   display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .form-input{
    height: 52px;
    border-radius: 16px;
    border: none;
    padding-left: 12px;
    background: #FFFFFF;
  }
  .form-input::placeholder{
    color: #1C1C1C;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
  }
  .form-submit{
    padding: 17px 31px;
    border-radius: 16px;
    border: none;
    background: linear-gradient(134deg, #9181F4 0%, #5038ED 100%);
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    max-width: 130px;
    margin: 0 auto;
  }
}