<template>
  <div style="padding-top: 100px">
    <div class="auth-form-container form-container">
      <h1 class="form-title">Login Form</h1>
      <form @submit.prevent="login" class="form-login">
        <input type="email" v-model="email" placeholder="Email" required class="form-input">
        <input type="password" v-model="password" placeholder="Password" required class="form-input">
        <button type="submit" class="form-submit">Login</button>
      </form>
    </div>
  </div>

</template>

<script>
import axios from 'axios';

export default {
  name: 'LoginView',
  data() {
    return {
      email: '',
      password: '',
    };
  },
  methods: {
    async login() {
      try {
        const response = await axios.post('/login', {
          email: this.email,
          password: this.password,
        });
        if (response && response.data) {
          const token = response.data.access_token;
          localStorage.setItem('token', token)
          this.$router.push('/')
        }
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>