<template>
  <div style="padding-top: 100px">
    <div class="auth-form-container form-container">
      <h1 class="form-title">Register Form</h1>
      <form @submit.prevent="login" class="form-login">
        <input type="email" v-model="email" placeholder="Email" required class="form-input">
        <input type="name" v-model="name" placeholder="User Name" required class="form-input">
        <input type="password" v-model="password" placeholder="Password" required class="form-input">
        <button type="submit" class="form-submit">Register</button>
      </form>
    </div>
  </div>

</template>

<script>
import axios from 'axios';

export default {
  name: 'RegisterView',
  data() {
    return {
      email: '',
      name: '',
      password: '',
    };
  },
  methods: {
    async login() {
      try {
        const response = await axios.post('/register', {
          email: this.email,
          name: this.name,
          password: this.password,
        });
        if (response && response.data.data)
        {
          const token = response.data.data.access_token;
          this.$cookies.set('token', token)
          this.$router.push('/')
        }
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>