<template>

</template>
<script>
import io from 'socket.io-client'
export default {
  data(){
    return {
      socket: null
    }
  },
  mounted() {
    this.socket = io('http://localhost')
  }
}
</script>